body {
    padding: 0;
    margin: 0;
    background: url('../images/bg.png') top left repeat #ebeef2;
    font: normal 14px Arial, Helvetica, sans-serif;
    color: #b7bdc3;
}

html {
    background: url('../images/bg.png') top left repeat #ebeef2;
}

/* scrollbar style from http://maxvoltar.com/, http://almaer.com/scrollbar/debug.html */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background: #f2f4f8;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 12px;
    background-color: #d5d9df;
}

::-webkit-scrollbar-thumb:vertical {
    height: 25px;
    background-color: #d5d9df;
}

::-webkit-scrollbar-button:start:decrement {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

::-webkit-scrollbar-button:end:increment {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

:focus {
    border: none;
    outline: 0;
}

*::-moz-focus-inner { border: 0; }

a img {
    border: 0;
}

form {
    display: inline;
    padding: 0;
    margin: 0;
}

#loading {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 14px;
    height: 7px;
    background: url('../images/loading.gif') -1px -4px no-repeat transparent;
    border: 1px solid #9ba0a5;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter:alpha(opacity=40);
    
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    transition: opacity 1s linear;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

#unsaved {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 14px;
    height: 7px;
    border: 1px solid #9ba0a5;
    opacity: 0.25;
    -moz-opacity: 0.25;
    filter:alpha(opacity=25);
    
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    transition: opacity 1s linear;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

#controls {
    position: absolute;
    height: 25px;
    bottom: 20px;
    right: 0;
    left: 0;
    text-align: center;
}
    
    #controls a {
        color: #9ba0a5;
        text-decoration: none;
        margin: 0 10px;
    }
    
    #controls a:hover {
        color: #84878c;
    }
    
    #controls a#padlock {
        margin-right: 0;
        opacity: 0.65;
        -moz-opacity: 0.65;
        filter:alpha(opacity=65);
        vertical-align: -1px;
    }

    #controls a#padlock:hover {
        opacity: 1;
        -moz-opacity: 1;
        filter:alpha(opacity=100);
    }
    
    #controls .bubble_wrapper {
        position: relative;
        display: inline-block;
    }
    
        #controls .bubble {
            position: absolute;
            bottom: 35px;
            width: 290px;
            margin-left: -150px;
            left: 50%;
            background: #ecf0f3;
            border: 1px solid #d8dee3;
            border-bottom-color: #c8cdd1;
            padding: 4px;
            
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            
            -webkit-box-shadow: 0px 1px 6px rgba(63,67,70, 0.3);
            -moz-box-shadow: 0px 1px 6px rgba(63,67,70, 0.3);
            box-shadow: 0px 1px 6px rgba(63,67,70, 0.3);
        }
            
            #controls .bubble .highlight {
                border-top:1px solid  rgba(255,255,255,0.75);
                height: 5px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                
                -webkit-border-top-left-radius: 4px;
                -webkit-border-top-right-radius: 4px;
                -moz-border-radius-topleft: 4px;
                -moz-border-radius-topright: 4px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            
            #controls .bubble .message {
                position: absolute;
                top: -33px;
                left: 15px;
                right: 15px;
                height: 23px;
                font: normal ;
                text-align: center;
                background: #a7adb3;
                border-top: 1px solid #c2cad3;
                padding-top: 8px;
                
                font: normal 13px Arial, Helvetica, sans-serif;
                color: #4f5254;
                text-shadow: 0 1px 0 #c2cbd2;
                
                -webkit-box-shadow: 0 -1px 0 #949ba1;
                -moz-box-shadow: 0 -1px 0 #949ba1;
                box-shadow: 0 -1px 0 #949ba1;
                
                -webkit-border-top-left-radius: 4px;
                -webkit-border-top-right-radius: 4px;
                -moz-border-radius-topleft: 4px;
                -moz-border-radius-topright: 4px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            
            #controls .bubble .nipple {
                position: absolute;
                bottom: -12px;
                left: 0;
                right: 0;
                height: 12px;
                background: url('../images/bubble_nipple.png') top center no-repeat transparent;
            }
            
            #controls .bubble .text_input {
                display: inline-block;
                width: 200px;
                vertical-align: top;
                font: normal 22px Arial, Helvetica, sans-serif;
                color: #4d5054;
                padding: 4px 6px;
                margin: 0;
                margin-top: 1px;
                border: 1px solid #e9e9e9;
                outline: 0;
                
                -webkit-box-shadow: 0 -1px 0 #bcbcbc;
                -moz-box-shadow: 0 -1px 0 #bcbcbc;
                box-shadow: 0 -1px 0 #bcbcbc;
                
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            
                #controls .bubble .text_input.loading {
                    background: url('../images/loading_spinner.gif') 95% center no-repeat #fff;
                }
            
            #controls .bubble .button {
                display: inline-block;
                vertical-align: top;
                position:relative;
                background: url('../images/button_bg.png') top left repeat-x #858a8f;
                border: 1px solid #5f646a;
                font: bold 20px Arial, Helvetica, sans-serif;
                color: #28292a;
                text-shadow: 0 1px 0 #c2cbd2;
                padding: 5px 12px 6px 12px;
                margin: 0 0 0 1px;

                cursor: pointer;

                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            
            #controls .bubble .button:hover {
                -webkit-box-shadow: 0px 0px 3px rgba(28,29,31, 0.55);
                -moz-box-shadow: 0px 0px 3px rgba(28,29,31, 0.55);
                box-shadow: 0px 0px 3px rgba(28,29,31, 0.55);
            }

            #controls .bubble .button:active {
                top: 1px;
                -webkit-box-shadow: 0px 0px 3px rgba(18,55,85, 0.7);
                -moz-box-shadow: 0px 0px 3px rgba(18,55,85, 0.7);
                box-shadow: 0px 0px 3px rgba(18,55,85, 0.7);
            }
        
        #controls .bubble#bubble_for_share_this {
            width: 280px;
            margin-left: -145px;
        }
        
            #controls .bubble#bubble_for_share_this .text_input {
                width: 265px;
                font-size: 16px;
                text-align: center;
                padding-top: 8px;
                padding-bottom: 8px;
            }

.stack {
    position: absolute;
    top: 50px;
    right: 85px;
    bottom: 75px;
    left: 85px;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 0px 9px rgba(121,126,133, 0.15);
    -moz-box-shadow: 0px 0px 9px rgba(121,126,133, 0.15);
    box-shadow: 0px 0px 9px rgba(121,126,133, 0.15);
}

    .stack .layer_1 {
        position: absolute;
        top: -2px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-color: #fdfeff;
        
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        
        -webkit-box-shadow: 0px 1px 2px rgba(80,83,87, 0.25);
        -moz-box-shadow: 0px 1px 2px rgba(80,83,87, 0.25);
        box-shadow: 0px 1px 2px rgba(80,83,87, 0.25);
    }
    
        .stack .layer_1 .layer_2 {
            position: absolute;
            top: -1px;
            bottom: 2px;
            right: -2px;
            left: -2px;
            background-color: #fdfeff;
            
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            
            -webkit-box-shadow: 0px 1px 0 rgba(61,64,67, 0.2);
            -moz-box-shadow: 0px 1px 0 rgba(61,64,67, 0.2);
            box-shadow: 0px 1px 0 rgba(61,64,67, 0.2);
        }
        
            .stack .layer_1 .layer_2 .layer_3 {
                position: absolute;
                top: 0px;
                bottom: 1px;
                right: -2px;
                left: -2px;
                background-color: #fdfeff;
                border: 1px solid #dcdde1;
                padding: 18px 20px;
                
                font: normal 15px Arial, Helvetica, sans-serif;
                line-height: 20px;
                color: #3a3b3c;
                
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            
                .stack .layer_1 .layer_2 .layer_3 .contents {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0 6px 0 0;
                    border: 1px solid transparent;
                    background: transparent;
                    resize: none;
                    overflow-y: auto;
                    white-space: pre-wrap;
                    
                    font: normal 15px Arial, Helvetica, sans-serif;
                    line-height: 20px;
                    color: #3a3b3c;
                }
                
                .stack .layer_1 .layer_2 .layer_3 .contents.monospace {
                    font: normal 12px Monaco, 'Courier New', monospace;
                    line-height: 18px;
                }
                
#printable_contents {
    display: none;
}

.stack.empty .layer_1 .layer_2 .layer_3 .contents {
    text-align: center;
    font: normal 18px Arial, sans-serif;
    color: #aaacb0;
}


#promo {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
}

    #promo, #promo a {
        color: #9ba0a5;
        text-decoration: none;
    }

.input_form {
    width: 625px;
    margin: 80px auto 0 auto;
}

    .input_form .copy {
        text-align: center;
        font-size: 15px;
        line-height: 19px;
        color: #818283;
        margin: 15px 0 0 0;
    }
    
    .input_form .copy.disclaimer {
        font-size: 13px;
        line-height: 15px;
        color: #afb1b5;
    }
    
    .input_form .input_wrapper {
        position: relative;
        background: #fff;
        
        height: 55px;
        margin: 20px 0;
        
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        
        -webkit-box-shadow: 0px -1px 1px rgba(161,166,171, 0.6);
        -moz-box-shadow: 0px -1px 1px rgba(161,166,171, 0.6);
        box-shadow: 0px -1px 1px rgba(161,166,171, 0.6);
    }
    
        .input_form .input_wrapper .text_input {
            display: block;
            position: absolute;
            top: 0;
            right: 140px;
            bottom: 0;
            left: 15px;
            font: normal 25px Arial, Helvetica, sans-serif;
            line-height: 25px;
            color: #2d2e2f;
            padding: 11px 0 12px 0;
            border: none;
            outline: 0;
        }
        
        .input_form .input_wrapper .text_input.address {
            left: 162px;
            right: 115px;
        }
        
        .input_form .input_wrapper label {
            display: block;
            position: absolute;
            bottom: 14px;
            right: 18px;
            text-align: right;
            font: normal 25px Arial, Helvetica, sans-serif;
            color: #dde1e6;
        }
            
            .input_form .input_wrapper label.address_prefix {
                right: auto;
                left: 18px;
                color: #b6bbbf;
            }
            
            .input_form .input_wrapper label.address_unavailable {
                color: #e6d5d6;
            }
        
    .input_form .big_button {
        background: url('../images/button_bg.png') top left repeat-x #858a8f;
        border: 1px solid #5f646a;
        font: bold 22px Arial, Helvetica, sans-serif;
        line-height: 24px;
        color: #28292a;
        padding: 12px 18px;
        margin-top: 40px;
        text-shadow: 0 1px 0 #c2cbd2;
        
        cursor: pointer;
        
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    
    .input_form .big_button:hover {
        -webkit-box-shadow: 0px 0px 3px rgba(28,29,31, 0.55);
        -moz-box-shadow: 0px 0px 3px rgba(28,29,31, 0.55);
        box-shadow: 0px 0px 3px rgba(28,29,31, 0.55);
    }
    
    .input_form .big_button:active {
        margin-top: 41px;
        -webkit-box-shadow: 0px 0px 3px rgba(18,55,85, 0.7);
        -moz-box-shadow: 0px 0px 3px rgba(18,55,85, 0.7);
        box-shadow: 0px 0px 3px rgba(18,55,85, 0.7);
    }